<html ng-app="productSearch">
  <head>
    <title>Product Search</title>
  </head>
  <body>
    <div class="page-wrapper" ng-controller="SearchController">
      <h1>Product Search</h1>
      <div class="searchBar">
        <form>
          
          <input type="text" ng-model="searchQuery" placeholder="Search for a product"/>
          <button ng-click="search(searchQuery)">Search</button>
        </form>
      </div>

      <div class="product" ng-repeat="product in products">
        <a ng-href="{{product.url}}">
          <img ng-src="{{product.image_urls['91x121'][0].url}}">
          <p>{{product.name}} by {{product.brand}}</p>
          
        </a>
      </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="./config/gilt.js"></script>
    <script src="./app.js"></script>
    <script src="./searchController.js"></script>
    <script src="./searchService.js"></script>

  </body>
</html>
